html,body,div,h1,h2,h3,h4,h5,h6,ul,li,ol,li,dl,dt,dd,p,form,input,textarea,table,th,td,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-spacing:0;border-collapse:collapse;}
caption,th{text-align:center;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size: 100%;}
sub,sup{font-size: 83%;}
textarea{overflow:hidden;resize:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
a,a:hover,a:link,a:visited{text-decoration:none;color: #333;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 Microsoft Yahei,Verdana,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";color:#333;outline:0;}
body{background-color: #f5f5f5;}
.no-scroll{overflow-y: hidden;overflow-x:auto;}
/* --- 清除浮动 --- */
.clearfix{zoom:1;}
.clearfix:after{content:"\200B";height:0;display:block;clear:both;visibility:hidden;}

#mainframe{width: 100%;/* min-height: 450px; */}
.pt15{padding-top: 15px;}
.pb100{padding-bottom: 100px;}

/* 侧导航 */
.wrapper .menu{position: fixed;top: 0;left: 0;bottom: 0;width: 270px;background-color: #3b3a3f;overflow-x: hidden;overflow-y: auto;z-index: 999;}
.menu .title{font-size: 18px;color: #2bb0bf;text-align: center;padding: 25px 0;}
.menu .title a{font-size: 18px;color: #2bb0bf;text-align: center;line-height: 36px;}
.menu .title a span{font-size: 30px;}
.menu-list li{font-size: 17px;color: #fff;}
.menu-list li a{display: block;height: 70px;line-height: 70px;font-size: 17px;color: #fff;padding-left: 60px;background: url(/static/images/menu-icon.png) no-repeat 18px center;}
.menu-list li a:hover,.menu-list li a.cur{color: #2bb0bf;background: url(/static/images/menu-icon-hover.png) #353439 no-repeat 18px center;}
.menu-list .badge{background-color: #ef4f51;margin-left: 40px;display: none;}
/* 侧导航-子导航 */
.menu-list .sub-menu li a{background: #353439;}

/* 搜索 */
.topbar{background-color: #fff;height: 90px;-webkit-box-shadow: 0 4px 4px #c4c4c4;-moz-box-shadow: 0 4px 4px #c4c4c4;box-shadow: 0 4px 4px #c4c4c4;padding-top: 1px;}
.search{position: relative;margin-left: 30px;margin-top: 19px;float: left;}
.search .search-text{width: 674px;height: 50px;line-height: 50px;border-radius: 50px;padding-left: 54px;font-size: 14px;color: #464646;border: 1px solid #efefef;background-color: #f5f5f5;}
.search .glyphicon-search{position: absolute;top: 16px;left: 25px;font-size: 18px;color: #828282;}
/* 登录信息 */
.username{float: right;margin-top: 35px;margin-right: 12px;font-size: 14px;color: #c1c1c1;}
.username a{color: #464646;margin: 0 20px;}

/* 主体 */
.main{margin-left: 270px;background-color: #f5f5f5;min-width: 1000px;}
.content{margin: 25px;background-color: #fff;-webkit-box-shadow: 0 1px 4px #c4c4c4;-moz-box-shadow: 0 1px 4px #c4c4c4;box-shadow: 0 1px 4px #c4c4c4;padding:0 20px 20px;position: relative;}

/* 路径位置 */
.breadcrumbBox{position: relative;height: 75px;border-bottom: 1px solid #e0e0e0;margin-bottom: 20px;}
.breadcrumbBox .btn-control,.breadcrumbBox .back-control{position: absolute;top: 0;right: 20px;height: 75px;line-height: 75px;font-size: 18px;color: #2bb0bf;}
.btn-control a{color: #2bb0bf;}
.breadcrumbBox .btn-cancel{position: absolute;top: 0;right: 120px;height: 75px;line-height: 75px;font-size: 18px;color: #2bb0bf;display: none;}
.breadcrumb{position: absolute;top: 0;left: 0;height: 75px;line-height: 75px; padding: 0 10px;margin-bottom: 0;background: none;color: #9e9e9e;font-size: 18px;border-bottom: 2px solid #2bb0bf;border-radius: 0;}
.breadcrumb .active{color: #2bb0bf;}
.breadcrumb > li + li:before{color: #9e9e9e;}

/* 发布管理 */
.listBox .table{width: 100%;}
.listBox .table tbody td{vertical-align: middle;border-top: 1px solid #e0e0e0;}
.listBox .table th{background-color: #f5f5f5;padding: 20px 8px;color: #464646;font-size: 14px;text-align: left;font-weight: 700;}
.listBox .form-group{padding-bottom: 0;margin: 0;}
.listBox .checkbox .checkbox-material{margin-right: 10px;}
.content .btn-info,.content .btn-primary,.content .btn-danger{background:#fff;border:1px solid #2bb0bf;color: #2bb0bf;display: inline-block;width: 68px;height: 36px;line-height: 36px;text-align: center;border-radius: 3px;margin-right: 8px;}
.listBox .form-group .checkbox label,.listBox .form-group label,.listBox .c-ef4f4f{color: #ef4f4f;}
.listBox .form-group .checkbox .checkbox-material{display: none;}
.mb60{margin-bottom: 60px;}

/* 发布订单详情 */
.detail-box .form-group{float: left;width: 30%;margin-right: 3%;}
.detail-box .form-group .checkbox label, .detail-box .form-group .radio label, .detail-box .form-group label{color: #9e9e9e;}
.detail-box .form-control{color: #2bb0bf;}
.detail-box .form-group-last{width: 96%;}
.detail-label{margin: 30px 0;}
.detail-label .label,.detail-label .label.label-default{font-size: 16px;color: #2bb0bf;background-color: #f5f5f5;padding: 15px 25px;}
.goods-detail .form-group{width: 20%;margin-right: 5%;}
.control-panel{position: absolute;bottom: 0;left: 0;width: 100%;height: 80px;background-color: #2bb0bf;z-index: 99;}
.control-panel .panel-label,.control-panel .control-btns{float: right;font-size: 16px;color: #fefefe;margin-top: 22px;}
.control-panel .panel-label{padding: 8px 30px;}
.control-panel .control-btns{border-left: 2px solid #fff;padding: 0 30px;}
.control-btns a{color: #fefefe;display: inline-block;padding: 6px 12px;border: 1px solid #fff;border-radius: 3px;margin: 0 5px;}
.control-btns .btn-pub{background-color: #fff;color: #2bb0bf;}
.control-panel .form-group{float: left;margin: 18px 0 0 26px;padding: 0;}
.control-panel .checkbox .checkbox-material{margin-right: 10px;}
.control-panel .checkbox .checkbox-material .check{border-color: #fff;}
.control-panel .form-group .checkbox label,.control-panel .form-group label{color: #fff;}
.control-panel .checkbox input[type=checkbox]:checked + .checkbox-material .check{color: #fff;border-color: #fff;}
.control-panel .checkbox input[type=checkbox]:checked + .checkbox-material .check:before{color: #fff;}
.batch-control{display: none;position: fixed;}

/* 报价管理 */
.overlay{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;z-index: 1000;display: none;}
.popup{position: fixed;top: 150px;left: 50%;width: 800px;;background: #fff;z-index: 1001;margin-left: -400px;overflow: hidden;display: none;}
.popup .table{margin-bottom: 0;}
.popup .close-btn{position: absolute;right: 18px;top: 18px;color: #fefefe;}
.price-pop{}
.popup-header{height: 50px;background-color: #2bb0bf;padding-right: 50px;padding-top: 18px;}
.popup-header table{width: 100%;margin-left: -1px;}
.popup-header table td{text-align: center;color: #fefefe;border-left: 1px solid #1a6874;}
.popup-main{padding: 0 25px 40px;}
.popup-main .breadcrumbBox{height: 56px;}
.popup-main .breadcrumb{height: 56px;line-height: 56px;font-size: 15px;}
.popup-main .btn-primary{position: absolute;right: 0;top: 0;color: #2bb0bf!important;}
.priceBox .form-group{float: left;}
.priceBox #priceType{width: 275px;margin-right: 40px;color: #2bb0bf!important;}
.priceBox #price{width: 435px;}
.priceBox .label-unit{position: absolute;bottom: 15px;right: 0;color: #2bb0bf!important;}
.driverBox,.shipperBox{height: 300px;overflow-y:auto;overflow-x:hidden;}
.driverBox .table thead tr th,.shipperBox .table thead tr th{text-align: left;background-color: #f5f5f5;font-size: 14px;color: #464646;font-weight: 700;height: 50px;vertical-align: middle;}
.driverBox .table tbody tr td,.shipperBox .table tbody tr td{height: 50px; vertical-align: middle;font-size: 13px;}
.driverBox .table tbody tr.has,.shipperBox .table tbody tr.has{color: #2bb0bf;}
.driverBox .driver-control,.shipperBox .btn-option{display: block;width: 70px;height: 32px;line-height: 30px;border: 1px solid #2bb0bf;text-align: center;border-radius: 3px;background-color: #fff;color: #2bb0bf;}
.driverBox .has-driver-control,.shipperBox .has-btn-option{background-color: #2bb0bf;color: #fff;}
.driverBox .suc-driver-control,.shipperBox .suc-btn-option{display: block;width: 70px;height: 32px;line-height: 30px;border: 1px solid #2bb0bf;text-align: center;border-radius: 3px;background-color: #2bb0bf;color: #fff;}
.listBox .has-driver,.listBox .has-driver:link,.listBox .has-driver:visited{border-color: #9e9e9e;color: #9e9e9e;background-color: #fff;}
/* 报价订单详情 */
.bid-detail .form-group{width: 17%;}
.bid-detail .form-group-last{width: 97%;}


/* 订单管理 */
.orderList{}
.orderList .table th{padding: 6px 8px;vertical-align: middle;}
.orderList .table .pl24{padding-left: 24px;}
.orderList .table .navbar-collapse{padding: 0;}
.orderList .table .navbar-nav, .orderList .table .navbar-nav > li{float: none;}
.orderList .table .nav > li > a{padding: 10px 24px;}
.orderList .table .dropdown-menu{min-width: 86px;}

.detail-box .table th{text-align: left;font-size: 14px;color: #464646;padding: 16px 8px;vertical-align: middle;font-weight: 700;background-color: #f5f5f5;}
.detail-box .table td{vertical-align: middle;}

